<%- include('header', {header: {text: "Vonatok"}}) %>

<article class="d-flex flex-column align-items-center">
  <table class="table table-striped table-hover w-75 mx-auto">
    <tr>
      <th>Szám</th>
      <th>Üzemanyag</th>
      <th>Megtett km</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% vonatok.forEach(vonat => { %>
    <tr>
      <td><%= vonat.szam %></td>
      <td><%= vonat.uzemanyag %></td>
      <td><%= vonat.km %></td>
      <td>
        <button class="btn btn-outline-warning">
          <a href="/vonat/edit/<%= vonat._id %>"
            ><i class="fa-solid fa-pen-to-square"></i> Szerkesztés</a
          >
        </button>
      </td>
      <td>
        <button class="btn btn-outline-primary">
          <a href="/kocsi/<%= vonat._id %>"><i class="fa-solid fa-train"></i> Kocsik</a>
        </button>
      </td>
      <td>
        <button class="btn btn-outline-danger">
          <a href="/vonat/delete/<%= vonat._id %>"><i class="fa-solid fa-trash"></i> Törlés</a>
        </button>
      </td>
      <% }); %>
    </tr>
  </table>

  <button class="btn btn-outline-success mt-3">
    <a href="/vonat/edit"><i class="fa-solid fa-circle-plus"></i> Új</a>
  </button>
</article>

<%- include('footer') %>
