<%- include('header', {header:
  {text: vonat._id ? `${vonat.szam} számú vonat szerkesztése` : 'Új vonat', back: "/"}
  }) %>

<form class="w-50 mx-auto" method="post" action="/vonat/edit/<%= vonat._id ? vonat._id : '' %>">
  <div class="mb-3">
    <label for="szam" class="form-label">Szám</label>
    <input
      type="text"
      class="form-control"
      id="szam"
      placeholder="68"
      name="szam"
      autofocus
      value="<%= vonat.szam ? vonat.szam : '' %>"
    />
    <div class="form-text">A vonat száma</div>
  </div>
  <div class="mb-3">
    <label for="uzemanyag" class="form-label">Üzemanyag</label>
    <input
      type="text"
      class="form-control"
      id="uzemanyag"
      placeholder="Dízel"
      name="uzemanyag"
      value="<%= vonat.uzemanyag ? vonat.uzemanyag : '' %>"
    />
  </div>
  <div class="mb-3">
    <label for="km" class="form-label">Megtett km</label>
    <input
      type="number"
      class="form-control"
      id="km"
      placeholder="1300"
      name="km"
      value="<%= vonat.km ? vonat.km : '' %>"
    />
  </div>
  <%- include('error', {error}) %>
  <button type="submit" class="btn btn-outline-success">
    <i class="fa-solid fa-floppy-disk"></i> Mentés
  </button>
</form>

<%- include('footer') %>
